PINECONE_API_KEY=YOUR_PINECONE_API_KEY
PINECONE_ENVIRONMENT=YOUR_PINECONE_ENVIRONMENT
TWIN_INDEX=7me-twins
CELEB_INDEX=7me-celebs
AI_TRANSFORM_URL=http://localhost:8000
FIREBASE_PROJECT_ID=your-firebase-project-id
